//Imports
@import "./theme";

.hidden {
  visibility: hidden;
}
.material-symbols-outlined {
  user-select: none;
}

.template {
  width: 100%;
  height: 100vh;
  .template__nav-bar {
    width: 20rem;
    height: 100vh;
    background-color: $background2;
    .nav-bar__banner {
      width: 100%;
      height: 6.5rem;
      background-color: $theme-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .banner__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 690;
        text-transform: uppercase;
        span {
          font-size: 2rem;
        }
        .banner__logo {
          margin-left: 1.5rem;
          margin-right: 0.5rem;
        }
        .banner__title {
          user-select: none;
          margin-left: 0.25rem;
        }
      }
      .banner__settings-icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
    .nav-bar__create-todo-list {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .create-todo-list__button {
        width: 15rem;
        height: 2rem;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.5px solid $cta;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        pointer-events: all;

        .create-todo-button__plus-sign {
          margin-left: 0.25rem;
        }
        &:hover {
          background-color: transparent;
          width: 15.25rem;
          height: 2.15rem;
          font-size: 1.75;
          border-radius: 12.5px;
        }
      }
    }
    .nav-bar__todo-lists {
      padding: 0;
      width: 20rem;
      list-style-type: none;
      li {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.5rem;
        font-weight: 0;
        margin: 0rem 0rem 1.5rem 1.5rem;
        display: flex;
        align-items: center;
      }
      .todo-lists__data-wrapper {
        width: 12.5rem;
      }
      .todo-lists__asthetics-wrapper {
        display: flex;
        align-items: center;
      }
      .todo-lists__todo-list-icon {
        margin-right: 0.35rem;
      }
      .todo-lists__todo-list-name {
        width: 100%;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .todo-lists__todo-list-date {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
      }
      .todo-lists__more-icon {
        margin: 0rem 1rem 0rem auto;
        font-size: 1.69rem;
        user-select: none;
      }
    }
  }
}
