.hidden {
  visibility: hidden;
}

.material-symbols-outlined {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.template {
  width: 100%;
  height: 100vh;
}
.template .template__nav-bar {
  width: 20rem;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(75, 75, 75);
}
.template .template__nav-bar::-webkit-scrollbar {
  width: 0;
}
.template .template__nav-bar .nav-bar__banner {
  width: 100%;
  height: 6.5rem;
  background-color: #93caed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.template .template__nav-bar .nav-bar__banner .banner__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 690;
  text-transform: uppercase;
}
.template .template__nav-bar .nav-bar__banner .banner__title span {
  font-size: 2rem;
}
.template .template__nav-bar .nav-bar__banner .banner__title .banner__logo {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.template .template__nav-bar .nav-bar__banner .banner__title .banner__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 0.25rem;
}
.template .template__nav-bar .nav-bar__banner .banner__settings-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.template .template__nav-bar .nav-bar__banner .banner__settings-icon:hover {
  font-variation-settings: "FILL" 1;
  cursor: pointer;
  pointer-events: all;
}
.template .template__nav-bar .nav-bar__create-todo-list {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template .template__nav-bar .nav-bar__create-todo-list .create-todo-list__button {
  width: 15rem;
  height: 2rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #ffa500;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  pointer-events: all;
}
.template .template__nav-bar .nav-bar__create-todo-list .create-todo-list__button .create-todo-button__plus-sign {
  margin-left: 0.25rem;
}
.template .template__nav-bar .nav-bar__create-todo-list .create-todo-list__button:hover {
  background-color: transparent;
  width: 15.25rem;
  height: 2.15rem;
  font-size: 1.75;
  border-radius: 12.5px;
}
.template .template__nav-bar .nav-bar__todo-lists {
  padding: 0;
  width: 20rem;
  list-style-type: none;
}
.template .template__nav-bar .nav-bar__todo-lists li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 0;
  margin: 0rem 0rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__data-wrapper {
  width: 12.5rem;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__asthetics-wrapper {
  display: flex;
  align-items: center;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__todo-list-icon {
  margin-right: 0.35rem;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__todo-list-name {
  width: 100%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__todo-list-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.template .template__nav-bar .nav-bar__todo-lists .todo-lists__more-icon {
  margin: 0rem 1rem 0rem auto;
  font-size: 1.69rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  pointer-events: all;
}/*# sourceMappingURL=Template.css.map */