//Imports
@import "./theme";

.template {
  width: 100%;
  height: 100vh;
  .template__nav-bar {
    width: 20rem;
    height: 100vh;
    background-color: $background2;
    .nav-bar__banner {
      width: 100%;
      height: 6.5rem;
      background-color: $theme-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .banner__title {
        display: flex;
        justify-content: center;
        align-items: center;
        .banner__logo {
          margin-left: 1rem;
          margin-right: 0.5rem;
        }
        span {
          font-size: 2rem;
        }
      }
      .banner__settings-icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
    .nav-bar__create-todo-list {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .create-todo-list__button {
        width: 15rem;
        height: 2rem;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.5px solid $cta;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        pointer-events: all;

        .create-todo-button__plus-sign {
          margin-left: 0.25rem;
        }
        &:hover {
          background-color: transparent;
          width: 15.25rem;
          height: 2.15rem;
          font-size: 1.75;
        }
      }
    }
    .nav-bar__todo-lists {
      width: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        padding: 0;
        width: 85%;
      }
    }
  }
}
